// =============
//      Colors
//      :Add website colors
// =============

// $main-color         :
// $secondary-color    :
// $complementary-color:



// =============
//      Font
//      :change to your font
// =============
$main-font: Helvetica



// =============
//      Media Queries breakpoints
// =============
$small-devices : 21.875em
$medium-devices: 46.875em
$large-devices : 62.500em
$xlarge-devices: 81.250em
