<!DOCTYPE html>
<html>
<head>

  <!-- The charset attribute specifies the character encoding for the HTML document. -->
  <meta charset="utf-8">

  <!-- The X-UA-Compatible meta tag allows web authors to choose what version of Internet Explorer the page should be rendered as. for IE 9 or IE 8 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  
  <title>Project Name</title>


  <!-- Description and Author for search engines -->
  <meta name="description" content="A new static web page using mission-s generator">
  <meta name="author" content="< Your name >">
   

  <!-- Render this website exactly as wide as you are naturally and disables mobile zoom -->
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  
  
  <!-- Social media share meta tags, More Info: http://ogp.me/ -->
  <meta property="og:title" content="< Website Title >">
  <meta property="og:url" content="< Website URL >">
  <meta property="og:image" content="< Link to img >">
  <meta property="og:description" content=" < Description >">


  <!-- Changes chrome's address bar color on android devices -->
  <meta name="theme-color" content="<color theme>">


  <!-- Disables iPhone phone numbers style -->
  <meta name="format-detection" content="telephone=no">


  <!-- Links to external style sheet -->
  <link rel="stylesheet" href="css/reset.css"> 
  <link rel="stylesheet" href="css/main.css"> 



  <!-- Links to Humans document -->
  <link rel="author" href="humans.txt" />
</head>
<body>

  <!-- Conditional for IE -->

  <!--[if lt IE 9]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


  <script src="scripts/main.js"></script>
</body>
</html>