meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
title <%= appname %>


meta(name="description", content="A new static web page using mission-s generator")
meta(name="author", content="<%= appauthor %>")

meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")


meta(property="og:title", content="< Website Title >")
meta(property="og:url", content="< Website URL >")
meta(property="og:image", content="< Link to img >")
meta(property="og:description", content=" < Description >")


meta(name="theme-color", content="<color theme>")


meta(name="format-detection", content="telephone=no")

link(rel="stylesheet", href="css/main.css")
link(rel="author", href="humans.txt")
